---
import MainLayout from "../layouts/MainLayout.astro";
const name = "Listado de Pokémons";
---

<MainLayout title={"About"}>
  <h1 class="text-3xl text-white text-center underline-offset-8 underline">
    About & {name}
  </h1>
</MainLayout>
